body {
	font-family:"Trebuchet MS", "Sans-Serif";
	font-size:12px;
}
.night-mode {
	background:#000;
	color:#AA0000;
}
.night-mode a {
	color:#7a7;
}
#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #000;
}
#content {
	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
}
#columns {
	float:left;
	width:100%;
	position:relative; 
	right:75%;
}
#right-column {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
	width:71%;
	left:102%;
}
#left-column {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
	width:21%;
	left:6%;
}
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
        margin-bottom:10px;
}
#object-menu {
}

#object-menu li {
	list-style-type:none;
}
#object-menu li a {
	text-decoration:none;
}
#header-title {
	float:left;
}
#header-right {
	float:right;
}
#footer p {
	margin:0;
	padding:0;
}
#toggle-switch {
	text-decoration:none;
}
#user-location-input {
	clear:both;
	float:left;
	width:100%;
        margin-bottom:10px;

}
.row-label {
	font-weight:bold;
}
.row-label a {
        text-decoration:none;
        color:inherit;
}
.row-label a:hover {
        color:red;
}
.group-sep {
	border-top:1px solid #A7A9A7;
}
#header-title a {
        text-decoration:none;
}
