body {font-family:"Trebuchet MS", "Sans-Serif";font-size:12px;}

#header {
        width: 800px;
        margin-left:auto;
        margin-right:auto;
}
ul#top-menu {
    padding: 0; 
    margin: 0; 
    list-style-type: none; 
    width: 100%; 
    color: #000; 
    background-color: #fff; 
}
ul#top-menu li { 
    margin: 0;
    padding: 0;
    display: inline; 
}

#content {
        display:block;
}
ul#top-menu li a { 
/*    min-width: 55px; */
    color: #fff; 
    background-color: #666; 
    padding: 0.2em 1em; 
    text-decoration: none; 
    border-right: 1px solid #fff; 
}
ul#top-menu li a:hover { 
    background-color: #ccc; 
    color: #000; 
} 

