body {font-family:"Trebuchet MS", "Sans-Serif";font-size:12px;}

#header {
	clear:both;
	float:left;
	width:100%;
	border-bottom:1px solid #000;
}

#content {
       	position:relative;
	clear:both;
	float:left;
	width:100%;
	overflow:hidden;
        background:#fff;
}
#columns {
       	float:left;
	width:100%;
	position:relative; 
}
