<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/jsorbits-solarsystem/jsorbits-solarsystem.js"></script>
    <script type="text/javascript" src="/js/jsorbits-solarsystem/jquery.min.js"></script>
    <title>{% block title %}Solar System Orbits{% endblock %}</title>
</head>

<body>
    <div id="header">
        <div id="sidebar">
            <ul id="top-menu">
                <li><a href="/mercury">Mercury</a></li>
                <li><a href="/venus">Venus</a></li>
                <li><a href="/sun">Sun</a></li>
                <li><a href="/mars">Mars</a></li>
                <li><a href="/jupiter">Jupiter</a></li>
                <li><a href="/saturn">Saturn</a></li>
                <li><a href="/uranus">Uranus</a></li>
                <li><a href="/neptune">Neptune</a></li>
            </ul>
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

